#root {
  display: flex;
  justify-content: space-between;
  padding: 24px 120px;
}

#root .right {
  flex: 3;
}

#root .left {
  flex: 2;
}

hr {
  border: none;
  height: 3px;
  background-color: black;
  margin: 20px 0;
  border-radius: 5px;
}
