#root {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  padding: 24px 120px;
}

#root .right {
  flex: 3;
}

#root .left {
  flex: 2;
}

#root .left > :not(:last-child) {
  margin-bottom: 20px;
}

#root .left section > :first-child {
  margin-bottom: 24px;
}

#root .left section form div:not(:last-child) {
  margin-bottom: 4px;
}

#root .left > section {
  position: relative;
}

#root .left button {
  position: absolute;
  top: -5px;
  left: 50%;
}
